:root {
    --oxfordblue: #072540;
    --ocean: #033E8C;
    --palatinateblue: #044BD9;
    --rose: #F20587;
    --uared: #D90452;
    --bermuda: #82E4C6;
    --white: #FFFFFF;
    --black: #000000;
}

@font-face {
    font-family: 'Commando';
    src: url(Commando.woff);
  }

body {
    background-color: var(--oxfordblue);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 13px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
}

a {
    color: var(--white); 
}

h1 {
    font-family: 'Commando', 'sans-serif';
    letter-spacing: 0.6rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    background: -webkit-linear-gradient(var(--uared),var(--uared),var(--white));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.1px var(--palatinateblue);
}

h2 {
    letter-spacing: 0.5rem;
    color: var(--uared);
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}

h2 span {
    letter-spacing: 0;
}

.hidden {
    display: none;
}

.boardWrapper {
    flex-grow: 1;
    margin-bottom: 20px;
    user-select: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

.board {
    aspect-ratio: 1;
    text-transform: uppercase;
    color: white;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.board td {
    border: 5px solid var(--palatinateblue);
    padding: 8px;
    width: 20%;
    height: 20%;
    min-width: 6rem;
    max-width: 9.5rem;
    text-align: center;
    letter-spacing: 0.25rem;
    cursor: pointer;
}

.board td.marked {
    background-color: var(--rose);
    border: 5px solid var(--white);
}

.board #freeTile {
    cursor: not-allowed;
    font-size: 69px;
}

.noboard {
    color: var(--white);
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.instructions {
    margin: 0 50px 0 50px;
}

.instructions .spacer {
    height: 150px;
}

.instructions button {
    background: var(--uared);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: var(--white);
    cursor: pointer;
    flex-shrink: 0;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 0;
    position: relative;
    top: 50%;
    left: 40%;
    text-transform: uppercase;
}

.instructions button:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}
.streamer {
    color: var(--uared);
}

.user {
    color: var(--bermuda);
}