body {
    background-color: black;
}

.board {
    position: absolute;
    font-family: 'Segoe UI', sans-serif;
    aspect-ratio: 1;
}

.board td {
    border: 5px solid hotpink;
    padding: 15px;
    width: 20%;
    height: 20%;
    color: white;
    max-width: 15rem;
    text-align: center;
}